.dropdown_menu {
    left: 0%;
}

.rdn {
    margin-left: 80%;
    margin-right: 10%;
    font-size: 15px;
}

.rdn-control-arrow {
   position: absolute;
}

.pleaseLogin-container {

    position: absolute;
    display: block;
    margin: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    top: 50%;
    width: 45vw;
    height: 45vh;

    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 5px;
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(0, 217, 255, 0.274);
    
}

.pleaseLogin-inner {
    position: absolute;
    font-size: 1vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cartButton {
    position: absolute;
    margin-left: 95%;
    margin-top: 10px;;
}   

.searchbar {
    position: absolute;
    left: 11.9%;
    top: 5px;
}

.searchbar input {
    border: none;
    padding: 1rem;
    width: 20vw;
    background: #e8e8e8;
    transition: 0.3s;
   }
   
   .searchbar input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
   }

   .searchbar button {
     position: absolute;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 1vw;
    top: 1px;
    transform: translateX(1px);
    background: #e8e8e8;
    border: 1px solid #00000046;
    transition: all .3s;
   }
   
  .searchbar button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }