@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}

.prodimg {
    clip-path: circle(50% at 50% 50%);
    width: 300px;
    height: 300px;
}

.product-card {
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgba(207, 3, 3, 0.418);
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-category {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    margin: auto;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #ccc;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}



.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-total {
    color:rgb(5, 146, 0);
    font-weight: bold;
    padding-top: 2px;
}


   .cardsCart {
 
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: auto;
    grid-gap: 1rem;
     
    }
          
    .cardCart {
    transform: translate(0%, 0%);
    border-radius: 4px;
    padding: .5rem;
    padding-bottom: 125px;
    }

    .itemQuant {
        font-size: 13px;
        padding-bottom: 10px;
    }
