.OrderHistoryContainer{
    position: absolute;
    width: 50%;
    height: 100%;
    transform:translate(100%);
    background-color:rgba(255,255,255,.25);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-Y:scroll;

}

.OrderHistoryContainer h2{
    text-align:center;
}

.insideHistory{
    position: relative;
    width: 85%;
    height: 20%;
    margin-top: 1px;
    background-color:rgba(255,255,255,.25);
    border-radius:10px;
    transform:translate(7.5%);
}

.insideHistory h5 {
    padding-left: 5px;
}

.upperRight {
    position: absolute;
    top: 0%;
    left: 80%;
}

.insideHistory span {
    position: absolute;
    transform: translateX(-8%);
    transition: 0.5s;
    padding-top: 10px;
    color: rgb(42, 37, 112);
    font-weight: bold;
}
.insideHistory span:hover {
    cursor: pointer;
    color: rgba(82, 82, 6, 0.63);
}



.PlacedOrdersContainer{
    position: absolute;
    width: 50%;
    height:100%;
    background-color:rgba(255,255,255,.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y:scroll;
}
.PlacedOrdersContainer h2{
    text-align:center;
}

.insidePlaced{
    position: relative;
    width: 85%;
    height: 20%;
    margin-top: 1px;
    background-color:rgba(255,255,255,.25);
    border-radius:10px;
    transform:translate(7.5%);
}

.insidePlaced h5 {
    padding-left: 5px;
}

.upperRight {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-10%, -80%);
}

.insidePlaced span {
    position: absolute;
    transform: translateX(-8%);
    transition: 0.5s;
    padding-top: 10px;
    color: rgb(42, 37, 112);
    font-weight: bold;
}
.insidePlaced span:hover {
    cursor: pointer;
    color: rgba(82, 82, 6, 0.63);
}

#selection {
    position: absolute;
    width: 7vw;
    top: 1%;
    left: 83%;
}

#xbutton {
    position: absolute;
    top: -3%;
    left: 90%;
}

.itemsInOrder {
    overflow-y: scroll;
    scrollbar-width: thin;
    left: 45%;
    top: 10%;
    width: 30%;
    height: 80%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.308);
}



